[package]
name = "qexed_packet_macros"
version = "0.1.0"
edition = "2024"
license = "MIT"
publish = false
[lib]
proc-macro = true

[dependencies]
syn = { version = "2.0", features = ["full", "extra-traits"] }
quote = "1.0"
proc-macro2 = "1.0"